{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Карточка товара{% endblock %}

{% block content %}
{% include 'header.html' %}

<h2>Подробное описание продукта</h2>

<div class="container text-center">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h3 class="my-0 font-weight-normal"> {{ product.name}}</h3>
                <div class="card-body">
                  {% if product.photo %}
                  <img src="{{ product.photo | media_filter }}" style="width: 550px; height: auto;">
                  {% endif %}
                  <h4 class="card-title pricing-card-title">Цена: {{product.price}} р.</h4>
                  <h6> Описание: {{product.description}}.</h6>
                  <h6> Добавлен: {{ product.created_at | date:"d M Y" }}.</h6>
                  <h6> Изменён: {{ product.created_at | date:"d M Y" }}.</h6>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-lg btn-block btn-outline-primary" href="/product_catalog">Назад</a>
                        <a class="btn btn-lg btn-block btn-outline-primary" href="/pay">Оплатить</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}